.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  /* Add padding-top to account for the fixed header */
  padding-top: var(--header-height); /* Use the header height variable */
}
