.card {
  background-color: var(--card-bg);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-sm);
  overflow: hidden;
  transition: all var(--transition-normal);
}

.card-hoverable:hover {
  box-shadow: var(--shadow-md);
  transform: translateY(-4px);
}

.card-clickable {
  cursor: pointer;
}

.card-header {
  padding: var(--spacing-md);
  border-bottom: 1px solid var(--neutral-300);
  font-weight: var(--font-weight-medium);
}

.card-body {
  padding: var(--spacing-md);
}

.card-footer {
  padding: var(--spacing-md);
  border-top: 1px solid var(--neutral-300);
  background-color: var(--neutral-200);
}

.card-image {
  width: 100%;
  overflow: hidden;
  background-color: #000000;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.card-image-top {
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}

.card-image-bottom {
  border-bottom-left-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
}
